.main-page__content {
    /* padding: 42px calc(50% - 500px); */
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #1F1F1F;
}


.main-page__main-section {
    padding: 40px 0 160px 20px;
    box-sizing: border-box;
    width: 60%;
}

.main-page__search-box {
    margin-bottom: 35px;
}

.main-page__favorites {
    width: 25%;
    margin-right: 20px;
    padding-top: 40px;
    position: fixed;
    top: 92px;
    right: 20%;
}